<?xml version="1.0"?>

<launch>
    <group>
        <!-- Launch cam635 node -->
	<include file="$(find espros_tof_cam635)/launch/camera_lite.launch" />

	<!-- Start web republisher -->
        <!--
        <arg name="mode"/>
        <node pkg="tf2_web_republisher"
            type="tf2_web_republisher"
            name="tf2_web_republisher"
            args="$(arg mode)"
            output="screen"
            respawn="false" />
        -->

	<!-- Launch rosgridge websocket -->
	<!--
        <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
	-->

        <node pkg="img_proc"
            type="img_proc_node.py"
            name="img_proc_node"
            output="screen"
            args=""
            respawn="false">
	</node>
</group>

</launch>
